<p id="notice"><%= notice %></p>

<%= render partial: "showbis" %>
<% if current_user.id ==  @business.userId%>
<p>
  Edit your business calendar.
</p>

<%= link_to 'Edit', edit_business_path(@business) %>
<%= link_to 'Back', businesses_path %>
<%= link_to 'Destroy', @business, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= render partial: "/events/showcal", locals: { bid: @business.id }%>