<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @business.Name %>
</p>

<p>
  <b>Phone:</b>
  <%= @business.Phone %>
</p>

<p>
  <b>Description:</b>
  <%= @business.Description %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %>
<%= link_to 'Back', businesses_path %>
<%= render :partial => "/events/showcal", :locals => { :bid => @business.id }%>
