<div class='container'>

  <div class='row-fluid'>

    <div class='span12 login-singup-middle'>

        <h1>Login</h1>

        <div style='padding:40px 140px 0;'>

          <%= form_for(:session, url: sessions_path) do |f| %>

            <%= f.text_field :email, :placeholder => 'Email' %>

            <%= f.password_field :password, :placeholder => 'Password' %>

            <%= f.submit "Sign in", class: "blue-btn btn-stylus", style: 'padding:10px 139px' %>
          <% end %>

        <p>New user? <%= link_to "Sign up now!", signup_path %></p>

      </div>

    </div>

  </div>

</div>
