<div class='container'>

  <div class='row-fluid'>

    <div class='span12 login-singup-middle' >

      <h1>Sign up</h1>

        <%= form_for(@user) do |f| %>

          <div style='padding:40px 140px 0;'>
          
            <%= f.text_field :name,  :placeholder => "Name" %>

            <%= f.text_field :email,  :placeholder => "Email" %>

            <%= f.password_field :password,  :placeholder => "Password" %>

            <%= f.password_field :password_confirmation,  :placeholder => "Password" %>

            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

          </div>

        <% end %>

    </div>

  </div>

</div>
