<!DOCTYPE html>
<html>
<head>
  <title>CivicHack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "fullcalendar" %>
  <%= stylesheet_link_tag "fullcalendar" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<div class='top-line'></div>
<div>
<% if current_user %>
  <%= link_to "Logout", signout_path %>
<% else %>
  <%= link_to "Signup", signup_path %>
  <%= link_to "Login", signin_path %>
<% end %>
</div>

<%= yield %>

</body>
</html>
